*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.4s;
}
body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color: black;
	font-size: 1.3rem;
	font-weight: bold;
}

/* navbar styling */
.navbar{
	display: flex;
	height: 5rem;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	border-bottom: 2px black solid;
}

/* logo style */
.logo img{
	width: 4rem;
	height: 4rem;
	margin-left:1rem;
}

.hamburger-menu{
	padding-right: 1px;
	cursor: pointer;
}

.hamburger-menu .line{
display: block;
width:2.5rem;
height: 2px;
margin-bottom: 10px;
background-color: black;
cursor: pointer;
}

.nav-menu{
	position: fixed;
	width: 94%;
	top: 6rem;
	left: 18px;
	background-color: rgb(255, 255, 255);
	font-weight: 600;

}
.nav-menu a{
	display: block;
	text-align: center;
	padding: 5px 0;
}
.nav-menu a:hover{
	background-color:lightblue;
}

.hide{
	display: none;
}

/* for Desktop view */
@media screen and (min-width:600px){
	.navbar{
		justify-content: space-around;
	}
	.nav-menu{
		display: block;
		position: static;
		width: auto;
		margin-right:10px;
		background: none;
	}
	.nav-menu a{
		display: inline-block;
		padding: 10px 15px;
	}
	.nav-menu a:hover{
		background-color: lightblue;
		border-radius: 5px;
	}
	.hamburger-menu{
		display: none;
	}

	.announcement_background{
		background-image: url('../Img/Bookshelf.png'); /* Replace 'your-image.jpg' with your actual image file path */
		background-size: cover; /* Adjust the background size as needed */
		background-position: center; /* Adjust the background position as needed */
		height: 400px; /* Set the desired height for your section */
		color: #fff; /* Set text color to be visible against the background */
		text-align: center; /* Center text content if needed */
		padding: 20px;
	}
}
